# ----------------------------------------------------------------------------
# Generated / temporary files
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.directory
*.debug
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
*.res
*.rc
/.qmake.cache
/.qmake.stash

# ----------------------------------------------------------------------------
# Qt Creator / QMake / CMake
# ----------------------------------------------------------------------------

Makefile*
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*

.moc/
.obj/
.pch/
.rcc/
.uic/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.ninja
.ninja_*

.qtc_clangd/

# ----------------------------------------------------------------------------
# Editors
# ----------------------------------------------------------------------------

*.flc
.*.swp

# ----------------------------------------------------------------------------
# Visual Studio
# ----------------------------------------------------------------------------

*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*
.vscode

# ----------------------------------------------------------------------------
# MinGW
# ----------------------------------------------------------------------------

*.Debug
*.Release

# ----------------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------------

*.pyc

# ----------------------------------------------------------------------------
# Binaries
# ----------------------------------------------------------------------------

*.dll
*.exe

# ----------------------------------------------------------------------------
# OS files
# ----------------------------------------------------------------------------

.DS_Store
Thumbs.db
